body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.row {
  flex-direction: row;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

.flex-container.flex-start {
  justify-content: flex-start;
}

.flex-container.flex-center {
  justify-content: center;
}

.flex-container.flex-end {
  justify-content: flex-end;
}

.flex-container.flex-around {
  justify-content: space-around;
}

.flex-container.flex-between {
  justify-content: space-between;
}

.flex-container.align-center {
  align-items: center;
}

.card {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.card:hover {
  background-color: #d6d6d6;
}

.card .button {
  width: 50px;
  border-radius: 9px;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
}

.card .button.danger {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #ffffff;
}

.card .button.success {
  background-color: #008000;
  border-color: #008000;
  color: #ffffff;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-r-16 {
  margin-right: 16px;
}
